body{
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #c4d8ff;
  color: rgb(0, 31, 31);
}

.scroll-hide{
  scrollbar-width: none;
}

button{
  padding: 4px;
}
button:hover{
 background-color: #f3f3f3;
}
